<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Attendance Panel</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../assets/img/crms-transparent-logo.png" rel="icon">
    <link href="../assets/img/crms-transparent-logo.png" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="admin.html" class="logo d-flex align-items-center">
                <img src="../assets/img/robotum_logo.png" alt="">
                <span class="d-none d-lg-block"> CRMS </span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->


        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="../assets/img/crms-transparent-logo.png" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">Yücel Tekin</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-gear"></i>
                                <span>Hesap Ayarları</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Oturumu Sonlandır</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link collapsed" href="admin.html">
                    <i class="bi bi-graph-up-arrow"></i>
                    <span>Admin</span>
                </a>
            </li><!-- End Admin Nav -->

            <li class="nav-item ">
                <a class="nav-link collapsed" href="admin-forms.html">
                    <i class="bi bi-mortarboard"></i>
                    <span>Dersler</span>
                </a>
            </li><!-- End Dersler Nav -->

            <li class="nav-item ">
                <a class="nav-link " href="attendance.html">
                    <i class="bi bi-check-square"></i>
                    <span>Yoklama</span>
                </a>
            </li><!-- End attendance Nav -->

            <li class="nav-item ">
                <a class="nav-link collapsed" href="admin-groups-classes.html">
                    <i class="bi bi-people"></i>
                    <span>Gruplar & Sınıflar</span>
                </a>
            </li><!-- End attendance Nav -->


            <li class="nav-heading">Oturum</li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="pages-register.html">
                    <i class="bi bi-card-list"></i>
                    <span>Kayıt Ol</span>
                </a>
            </li><!-- End Register Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="pages-login.html">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Giriş Yap</span>
                </a>
            </li><!-- End Login Page Nav -->

        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Attendance</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="admin.html">Admin</a></li>
                    <li class="breadcrumb-item active">Yoklama</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">

                <!-- Left side columns -->
                <div class="col-lg-12">
                    <div class="row">

                        <div class="card">
                            <form method="post" action="{% url 'add_attendance' %}">
                                {% csrf_token %}
                                <div class="card-body">
                                    <div class="card-title">
                                        <h4>Yoklama Modülü</h4>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="groupSelect" class="col-sm-2 col-form-label">Grup</label>
                                        <div class="col-sm-10">
                                            <select class="form-select" aria-label="Default select example" name="group"
                                                id="groupSelect" required>
                                                <option value="" selected disabled>Seçiniz</option>
                                                {% for g in group %}
                                                <option value="{{ g.name }}">{{ g.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-3" id="studentSection" style="position: relative;">
                                        <label for="studentSelect" class="col-sm-2 col-form-label">Öğrenci</label>
                                        <div class="col-sm-10">
                                            <select class="form-select" aria-label="Default select example"
                                                name="student" id="studentSelect" required>
                                                <option value="" selected disabled>Seçiniz</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="lesson" class="col-sm-2 col-form-label">Ders Adı</label>
                                        <div class="col-sm-10">
                                            <input id="lesson" type="text" class="form-control" name="lesson" readonly>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="hours" class="col-sm-2 col-form-label">Ders Saati</label>
                                        <div class="col-sm-10">
                                            <input id="hours" type="text" class="form-control" name="hours" readonly>
                                        </div>
                                    </div>

                                    <!-- {% comment %} <div class="row mb-3">
                                        <label for="lesson" class="col-sm-2 col-form-label">Ders Adı</label>
                                        <div class="col-sm-10">
                                            <select class="form-select" aria-label="Default select example"
                                                name="lesson" id="lessonSelect">
                                                <option selected disabled id="lesson2Select">Seçiniz</option>
                                                
                                            </select>
                                        </div>
                                    </div> {% endcomment %} -->

                                    <!-- Ders seçeneklerini burada Django değişkenlerini kullanarak doldurmayın -->

                                    <script>
                                        var groupSelect = document.getElementById('groupSelect');
                                        var studentSelect = document.getElementById('studentSelect');
                                        var lessonSelect = document.getElementById('lesson');
                                        studentSelect.disabled = true;
                                        studentSelect.innerHTML = '<option selected disabled>Grup Seçiniz</option>';
                                        lessonSelect.value = 'Grup Seçiniz';
                                        hours.value = 'Grup Seçiniz';
                                        groupSelect.addEventListener('change', function () {
                                            var selectedGroup = this.value;
                                            studentSelect.innerHTML = '<option selected disabled>Öğrenci Seçiniz</option>';

                                            if (selectedGroup !== '') {
                                                {% for sg in studentgroup %}
                                                if ('{{ sg.groupid.name }}' === selectedGroup) {
                                                    var option = document.createElement('option');
                                                    option.value = '{{ sg.studentid.pk }}';
                                                    option.text = '{{ sg.studentid.firstname }} {{ sg.studentid.lastname }}';
                                                    studentSelect.appendChild(option);


                                                    lessonSelect.value = '{{ sg.groupid.lessonid.lessonname }}';
                                                    hours.value = '{{ sg.groupid.hours }}';
                                                    /*
                                                    var option2 = document.createElement('option');
                                                    option2.value = '{{ sg.groupid.lessonid.lessonname }}'
                                                    option2.text = '{{ sg.groupid.lessonid.lessonname }}';
                                                    lessonSelect.appendChild(option2);
                                                    */

                                                }
                                                {% endfor %}
                                                studentSelect.disabled = false;
                                                lessonSelect.disabled = false;

                                            } else {
                                                studentSelect.disabled = true;
                                                lessonSelect.disabled = true;

                                            }
                                        });
                                    </script>



                                    <div class="row mb-3">
                                        <label for="attendanceDate" class="col-sm-2 col-form-label">Yoklama
                                            Tarihi</label>
                                        <div class="col-sm-10">
                                            <input id="attendanceDate" type="date" class="form-control"
                                                name="attendanceDate" required>
                                        </div>
                                    </div>

                                    <script>
                                        // Sayfa yüklendiğinde çalışacak fonksiyon
                                        window.onload = function () {
                                            // Tarih alanını seç
                                            var attendanceDateInput = document.getElementById("attendanceDate");

                                            // Bugünün tarihini al ve yyyy-mm-dd formatında dönüştür
                                            var today = new Date();
                                            var yyyy = today.getFullYear();
                                            var mm = String(today.getMonth() + 1).padStart(2, '0');
                                            var dd = String(today.getDate()).padStart(2, '0');
                                            var formattedDate = yyyy + '-' + mm + '-' + dd;

                                            // Bugünün tarihini tarih alanına yerleştir
                                            attendanceDateInput.value = formattedDate;
                                        };
                                    </script>



                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Durum</label>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-6">
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-12 col-lg-4">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                    name="status" id="status1" value="Mevcut" checked>
                                                                <label class="form-check-label" for="status1">
                                                                    Mevcut
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 col-lg-4">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                    name="status" id="status2" value="Yok">
                                                                <label class="form-check-label" for="status2">
                                                                    Yok
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 col-lg-4">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                    name="status" id="status3" value="Geç Kaldı">
                                                                <label class="form-check-label" for="status3">
                                                                    Geç Kaldı
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-12 col-lg-6"></div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row mb-3">
                                        <label class="col-sm-10 col-form-label"></label>
                                        <div class="col-sm-2">
                                            <button type="submit" class="btn  btn-primary w-100"
                                                onclick="addCategory()">Kaydet</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div><!--Attendance end-->

                        <div class="card p-3">
                            <div class="card-title">
                                <h4>Yoklamalar</h4>
                            </div>
                            <table class="datatable">

                                <thead>
                                    <tr>
                                        <th scope="col">Grup</th>
                                        <th scope="col">Öğrenci</th>
                                        <th scope="col">Ders Adı</th>
                                        <th scope="col">Ders Saati</th>
                                        <th scope="col">Yoklama Tarihi</th>
                                        <th scope="col">Durum</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>{{x.grup}}</td>
                                        <td>{{x.öğrenci}}</td>
                                        <td>{{x.dersAdı}}</td>
                                        <td>{{x.dersSaati}}</td>
                                        <td>{{x.YoklamaTarihi}}</td>
                                        <td>{{x.Durum}}</td>
                                        <td>
                                            <a href="{% url 'delete_student' s.id %}">
                                                <button type='button' class='btn btn-danger w-100'><i
                                                        class="bi bi-trash"></i></button>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div><!--the datatable-->


                    </div>
                </div><!-- End Left side columns -->

            </div>
        </section>

    </main><!-- End #main -->



    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/chart.js/chart.umd.js"></script>
    <script src="../assets/vendor/echarts/echarts.min.js"></script>
    <script src="../assets/vendor/quill/quill.min.js"></script>
    <script src="../assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="../assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>

</body>

</html>